.section-divider {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #00D8F5;
}

.submit-btn {
  margin-top: 1.3rem;
  width: 160px;
  display: inline-block;
  background-color: #00D8F5;
  padding: 0.9rem;
  border-radius: 7px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease;
}
.submit-btn:hover {
  opacity: 0.7;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .submit-btn {
    margin-left: 1rem;
  }
}
.chronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  line-height: 1;
  border-radius: 0.4rem;
  width: 90px;
  height: 27px;
  padding: 0;
  cursor: pointer;
  border: none;
  background: #00D8F5;
  transition: background 0.3s linear;
  will-change: background;
}
.chronicle-button:hover {
  background: #00D8F5;
}
.chronicle-button:hover span:nth-of-type(1) em {
  opacity: 0;
  transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
}
.chronicle-button:hover span:nth-of-type(2) em {
  opacity: 1;
  transform: rotateX(0deg) scaleX(1) translateZ(0);
  transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.2s;
}
.chronicle-button span {
  position: relative;
  display: block;
  perspective: 108px;
}
.chronicle-button span:nth-of-type(2) {
  position: absolute;
}
.chronicle-button span em {
  font-style: normal;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(19, 19, 19);
  will-change: transform, opacity, transition;
  transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1), opacity 0.35s linear 0.2s;
}
.chronicle-button span:nth-of-type(1) em {
  transform-origin: top;
}
.chronicle-button span:nth-of-type(2) em {
  opacity: 0;
  transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
  transform-origin: bottom;
}

.chronicle-button.secondary {
  background-color: #EAEAEA;
}
.chronicle-button.secondary em {
  color: rgb(19, 19, 19);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-size: 1rem;
  color: #D2D2D2;
  line-height: 1.4;
  background-color: rgb(19, 19, 19);
  font-family: "Nunito", sans-serif;
  font-display: swap;
}

::selection {
  background-color: #00D8F5;
  color: rgb(19, 19, 19);
}

p {
  font-size: 1rem;
}

h1 {
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 600;
}

.container {
  max-width: 1400px;
}

strong {
  color: #EAEAEA;
}

.section__title {
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 2rem;
  font-size: 2.2rem;
  color: #EAEAEA;
}

@media (min-width: 1025px) {
  .section-divider {
    width: 95%;
    margin-top: 1rem;
  }
}
@media (min-width: 1300px) {
  .section-divider {
    margin-top: 7rem;
  }
}
.color-primary {
  color: #00D8F5;
}

h1, h2, h3, h4, button {
  font-family: "Raleway", sans-serif;
}

span, p, a, li {
  font-family: "Nunito", sans-serif;
}

.custom-popup {
  background-color: rgb(19, 19, 19);
  color: #EAEAEA;
  font-family: "Raleway", sans-serif;
}

header {
  height: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 1.9rem;
  padding-inline: 6vw;
}
nav .logo {
  width: 100px;
  cursor: pointer;
  z-index: 3;
}
nav .nav__list {
  display: flex;
  flex-direction: column;
  gap: 2.7rem;
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-150%);
  padding-top: 6rem;
  background-color: rgb(19, 19, 19);
  padding-bottom: 3rem;
  width: 100%;
  align-items: center;
  border-bottom: 3px solid #00D8F5;
  transition: 0.3s ease-in;
}
nav .nav__list li a {
  color: #EAEAEA;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.2s ease;
}
nav .nav__list li a:hover {
  color: #00D8F5;
}
nav .nav__button {
  z-index: 3;
  cursor: pointer;
}
nav .show-menu {
  transition: 0.3s ease;
  transform: translateY(0%);
}

@media (min-width: 1025px) {
  nav {
    padding-top: 2rem;
    padding-inline: 3rem;
  }
  nav .logo {
    width: 130px;
  }
  nav .nav__list {
    flex-direction: row;
    transform: translateY(0);
    padding-top: 0;
    padding-bottom: 0;
    position: static;
    background-color: transparent;
    border-bottom: none;
    justify-content: flex-end;
    gap: 3rem;
  }
  nav .nav__list li a {
    font-weight: 400;
  }
  nav .nav__button {
    display: none;
  }
}
.hero .hero__container {
  display: flex;
  padding-inline: 6vw;
  flex-direction: column;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  width: 100%;
}
.hero .hero__container .hero__title h1 {
  margin-bottom: 2.3rem;
  line-height: 1.1;
  font-size: clamp(3rem, 4.2vw, 4.3rem);
  max-width: 100%;
  color: #EAEAEA;
}
.hero .hero__container .hero__title h1 span {
  font-family: "Raleway", sans-serif;
}
.hero .hero__container .hero__subtitle {
  height: 100%;
  width: 100%;
}
.hero .hero__container .hero__subtitle p {
  font-size: 1.2rem;
  color: #EAEAEA;
}
.hero .hero__container .hero__links {
  display: flex;
  gap: 3.3rem;
  justify-content: center;
  margin-top: 3rem;
}
.hero .hero__container .hero__links img {
  width: 34px;
  height: 34px;
  transition: 0.3s ease;
}
.hero .hero__container .hero__links img:hover {
  transform: translateY(-6px);
}

@media (min-width: 668px) and (max-width: 1024px) {
  .hero .hero__container {
    margin-top: 4rem;
  }
}
@media (min-width: 1025px) {
  .hero .hero__container {
    margin-top: 3.5rem;
  }
  .hero .hero__container .hero__title h1 {
    width: 75%;
  }
  .hero .hero__container .hero__subtitle p {
    max-width: 85%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }
}
@media (min-width: 1300px) {
  .hero .hero__container {
    padding-inline: 3vw;
    align-items: center;
    margin-top: 5rem;
    flex-direction: row;
    width: 100%;
  }
  .hero .hero__container .hero__title h1 {
    margin-bottom: 0;
    margin-right: 15rem;
    width: 100%;
  }
  .hero .hero__container .hero__subtitle p {
    font-size: 1.1rem;
    margin-top: 2rem;
    margin-left: 4rem;
  }
  .hero .hero__container .hero__links {
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 0;
  }
  .hero .hero__container .hero__links img {
    display: block;
    max-width: 55px;
    max-height: 55px;
  }
}
footer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
  padding-inline: 6vw;
  margin-top: 3rem;
  height: auto;
}
footer .footer__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}
footer .footer__info .logo {
  width: 95px;
}
footer .footer__info .email-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
footer .footer__info .email-container #email {
  display: flex;
  font-size: 1.2rem;
  color: #EAEAEA;
}
footer .footer__info .email-container .tooltip {
  visibility: hidden;
  background-color: #00D8F5;
  color: rgb(19, 19, 19);
  text-align: center;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  font-weight: 700;
  bottom: -90px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 1rem;
}
footer .footer__info .email-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
footer .footer__nav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.8rem;
  margin-left: -1.3rem;
}
footer .footer__nav ul li a {
  color: #EAEAEA;
  transition: 0.2s ease;
}
footer .footer__nav ul li a:hover {
  color: #00D8F5;
}
footer .footer__nav .nav__links.desktop {
  display: none;
}
footer .footer__links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
  justify-content: center;
  margin-block: 1rem;
}
footer .footer__links img {
  width: 35px;
}
footer .footer__me {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 1.1rem;
}

@media (min-width: 668px) and (max-width: 1024px) {
  footer .footer__info {
    flex-direction: row;
  }
  footer .footer__info .logo {
    width: 120px;
  }
  footer .footer__info .email-container #email {
    font-size: 1.8rem;
  }
  footer .footer__nav ul {
    font-size: 2rem;
    margin-left: -1.8rem;
  }
  footer .footer__links {
    gap: 3.5rem;
  }
  footer .footer__links img {
    width: 40px;
  }
}
@media (min-width: 1025px) {
  .footer {
    padding-inline: 3vw;
  }
  .footer .footer__info {
    margin-bottom: 2rem;
    flex-direction: row;
  }
  .footer .footer__info .logo {
    width: 130px;
  }
  .footer .footer__info .email-container #email {
    font-size: 2.2rem;
  }
  .footer .footer__info .email-container .tooltip {
    bottom: -70px;
  }
  .footer .footer__nav {
    margin-bottom: 1rem;
  }
  .footer .footer__nav ul {
    flex-direction: row;
  }
  .footer .footer__nav .nav__links.desktop {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .footer .footer__nav .nav__links.desktop img {
    width: 35px;
    transition: 0.2s ease;
  }
  .footer .footer__nav .nav__links.desktop img:hover {
    transform: translateY(-6px);
  }
  .footer .footer__links {
    display: none;
  }
}
.proyectos {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 3rem;
  padding-bottom: 4rem;
  padding-inline: 4vw;
}
.proyectos .proyectos__img__responsive {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}
.proyectos .proyectos__img__responsive .thumbnails__grid {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.proyectos .proyectos__img__responsive .thumbnail-container {
  width: auto;
  height: auto;
  border: 1px solid rgba(141, 141, 141, 0.747);
  border-radius: 4px;
  margin-inline: 0.4rem;
  transition: border 0.2s;
}
.proyectos .proyectos__img__responsive .thumbnail-container:hover {
  border: 1px solid #00D8F5;
}
.proyectos .proyectos__img__responsive .img-thumbnail {
  width: 150px;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.2rem;
}
.proyectos .proyectos__img__responsive .active {
  border: 1px solid #00D8F5;
}
.proyectos .proyectos__img__responsive .proyecto__img {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos .proyectos__img__responsive .proyecto__img img {
  width: auto;
  height: 100%;
  object-fit: contain;
}
.proyectos .proyectos__grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 2rem;
}
.proyectos .proyectos__grid .proyectos__box {
  padding: 0.5rem;
  border-radius: 7px;
  display: flex;
  text-align: start;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  color: #EAEAEA;
  width: 100%;
}
.proyectos .proyectos__grid .proyectos__box .proyecto__description .group__buttons {
  display: inline-flex;
  align-items: center;
  margin-block: 0.5rem;
  gap: 1rem;
}
.proyectos .proyectos__grid .proyectos__box .proyecto__description h3 {
  font-size: 1.7rem;
  margin-bottom: 1.6rem;
  color: #EAEAEA;
  line-height: 1.3;
}
.proyectos .proyectos__grid .proyectos__box .description__box {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}
.proyectos .proyectos__grid .proyectos__box .description__box .description__box__item {
  border: 1px solid #EAEAEA;
  width: 92px;
  height: 42px;
  font-weight: 700;
  display: flex;
  color: #D2D2D2;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 25px;
  background-color: rgba(137, 137, 137, 0.243);
}

@media (min-width: 668px) and (max-width: 1024px) {
  .proyectos .proyectos__grid {
    padding-inline: 5vw;
  }
  .proyectos .proyectos__grid .proyectos__box {
    align-items: center;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description h3 {
    font-size: 2rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description .description__box {
    gap: 2rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description .description__box .description__box__item {
    width: 120px;
    font-size: 1.1rem;
  }
}
@media (min-width: 1025px) {
  .proyectos {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .proyectos .proyectos__grid {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
  }
  .proyectos .proyectos__grid .proyectos__img__responsive {
    flex-direction: row;
    align-items: center;
  }
  .proyectos .proyectos__grid .proyectos__img__responsive .thumbnails__grid {
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
  .proyectos .proyectos__grid .img-thumbnail {
    width: 130px;
  }
  .proyectos .proyectos__grid .proyectos__box {
    display: grid;
    text-align: inherit;
    gap: 3rem;
    padding-left: 1rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description {
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description h3 {
    margin-top: -2.5rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description h3 {
    font-size: 2rem;
  }
  .proyectos .proyectos__grid .proyectos__box .proyecto__description .description__box {
    margin-top: 5rem;
    gap: 2rem;
    justify-content: initial;
    margin-bottom: 1rem;
  }
}
.about {
  height: 100%;
  padding-inline: 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.about .about__img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.about .about__img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.about .about__description {
  line-height: 1.5;
  margin-bottom: 3rem;
}
.about .about__description p {
  font-size: 1.2rem;
}
.about .about__description .about__tecnologias {
  margin-top: 3rem;
}
.about .about__description .about__tecnologias div {
  border: 2px solid transparent;
  border-radius: 20px;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 15px rgba(255, 255, 255, 0.1);
}
.about .about__description .about__tecnologias #card {
  background-image: linear-gradient(rgb(19, 19, 19), rgb(19, 19, 19)), linear-gradient(calc(var(--rotation)), #888 0, #444 20%, transparent 80%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  position: relative;
}
.about .about__description .about__tecnologias h3 {
  margin-bottom: 1.3rem;
  color: #EAEAEA;
  font-size: 1.6rem;
}
.about .about__description .about__tecnologias ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding-block: 1.4rem;
  padding-inline: 0.5rem;
}
.about .about__description .about__tecnologias ul li {
  width: calc(25% - 1.5rem);
}
.about .about__description .about__tecnologias img {
  width: 45px;
  height: 45px;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .about .about__img {
    margin-bottom: 3rem;
  }
  .about .about__img img {
    width: 230px;
    height: 230px;
  }
  .about .about__description .about__tecnologias {
    width: 100%;
  }
  .about .about__description .about__tecnologias ul {
    margin-top: 1.5rem;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}
@media (min-width: 1025px) {
  .about {
    flex-direction: row;
    align-items: flex-start;
    padding-inline: 6vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0;
    gap: 4rem;
  }
  .about .about__img {
    margin-top: -1rem;
    margin-bottom: 0;
  }
  .about .about__img img {
    width: 250px;
    height: 250px;
  }
  .about .about__description {
    margin-bottom: 0rem;
  }
  .about .about__description .about__tecnologias {
    margin-top: 4rem;
  }
  .about .about__description .about__tecnologias ul {
    gap: 3rem;
    flex-wrap: nowrap;
    padding-inline: 1rem;
  }
  .about .about__description .about__tecnologias img {
    width: 55px;
    height: 55px;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  padding-inline: 6vw;
  height: 100%;
  padding-bottom: 3rem;
}
.contact h3 {
  font-size: 1.8rem;
  line-height: 1.2;
  margin-bottom: 2.5rem;
}
.contact form {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.6px);
  -webkit-backdrop-filter: blur(2.6px);
  border: 1px solid rgba(255, 255, 255, 0.11);
  padding: 1rem;
  padding-bottom: 3rem;
}
.contact form .form__group {
  display: flex;
  flex-direction: column;
  margin-block: 1.7rem;
  width: 90%;
}
.contact form .form__group label {
  color: #EAEAEA;
  font-size: 1.3rem;
  font-weight: 700;
}
.contact form .form__group input {
  padding: 0.6rem;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #D2D2D2;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  color: #D2D2D2;
}
.contact form .form__group input:focus {
  border-bottom: 1px solid #00D8F5;
}
.contact form .form__group textarea {
  background-color: transparent;
  color: #EAEAEA;
  font-family: "Nunito", sans-serif;
  border: none;
  border-bottom: 1px solid #EAEAEA;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  padding: 0.7rem;
  resize: none;
}
.contact form .form__group textarea:focus {
  border-bottom: 1px solid #00D8F5;
}
.contact .contact__arrow {
  display: none;
}

@media (min-width: 668px) and (max-width: 1024px) {
  .contact h3 {
    max-width: 70%;
  }
  .contact form .form__group {
    width: 80%;
    margin-block: 1.5rem;
    margin-left: 1rem;
  }
}
@media (min-width: 1025px) {
  .contact {
    padding-top: 5.5rem;
    flex-direction: row;
    gap: 3rem;
  }
  .contact .contact__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact .contact__title .contact__arrow {
    display: block;
    width: 70px;
  }
  .contact .contact__title h3 {
    font-size: 1.9rem;
  }
  .contact form {
    width: 100%;
    padding: 2rem;
    padding-bottom: 3rem;
  }
  .contact form .form__group {
    margin-block: 1.5rem;
  }
  .contact form .form__group label {
    font-size: 1.4rem;
  }
  .contact form .form__group input {
    padding: 0.8rem;
    font-size: 1.3rem;
  }
  .contact form .form__group textarea {
    padding: 0.8rem;
    font-size: 1.3rem;
  }
}
@media (min-width: 1300px) {
  .contact {
    margin-top: 3rem;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    gap: 10rem;
  }
  .contact .contact__title h3 {
    font-size: 2.2rem;
  }
  .contact form {
    flex-direction: column;
  }
  .contact form .desktop__group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
  .contact form .form__group {
    width: 100%;
    margin-block: 2rem;
  }
}

/*# sourceMappingURL=style.css.map */
