.contact{
  display: flex;
  flex-direction: column;
  padding-inline: $padding-inline-mobile;
  height: 100%;
  padding-bottom: 4rem;

  h3{
    font-size: 1.8rem;
    line-height: 1.2;
    margin-bottom: 2.5rem;
  }

  form{
    display: flex;
    flex-direction: column;

    .form__group{
      display: flex;
      flex-direction: column;
      margin-block: 1.4rem;
      width: 90%;
      
      
      label{
        color: $color-white;
        font-size: 1.3rem;
        font-weight: $fw-bold;
      }

      input{
        padding: .6rem;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1px solid $color-white-light;
        margin-top: .6rem;
        font-size: 1.3rem;
        color: $color-white-light;

        &:focus{
          border-bottom: 1px solid $color-primary;
        }
      }
      
              textarea{
                background-color: transparent;
                color: $color-white;
                font-family: $ff-secondary;
                border: none;
                border-bottom: 1px solid $color-white;
                font-size: 1.3rem;
                margin-top: .6rem;
                padding: .7rem;
                resize: none;
                &:focus{
                  border-bottom: 1px solid $color-primary;
                }
              }
    }
  }
  
      .contact__arrow{
        display: none;
      }
}


@include respond-to(tablet){
  .contact{
    h3{
      max-width: 70%;
    }
    form{
      .form__group{
        width: 80%;
        margin-block: 1.5rem;
        margin-left: 1rem;
      }
    }
  }
}


@include respond-to(desktop){
  .contact{
    padding-top: 5.5rem;
    flex-direction: row;
    gap:3rem;
.contact__title{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .contact__arrow{
    display: block;
    width: 70px;
  }
  h3{
    font-size: 1.9rem;
  }
}

    form{
      width: 100%;
      .form__group{
        margin-block: 1.5rem;

        label{
          font-size: 1.4rem;
        }
        input{
          padding: .8rem;
          font-size: 1.3rem;
        }
        textarea{
          padding: .8rem;
          font-size: 1.3rem;
        }
      }
    }
  
  }

}


@include respond-to(large-desktop){
  .contact{
    margin-top: 3rem;
    max-width: 1550px;
    margin-left: auto;
    margin-right: auto;
    gap: 10rem;

    .contact__title{
      h3{
        font-size: 2.2rem;
      }
    }

    form{
      flex-direction: column;

      .desktop__group{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
      }
        .form__group {
          width: 100%;
          margin-block: 2rem;
        }
    }
  }
}