$ff-primary:'Raleway', sans-serif;
$ff-secondary:'Nunito', sans-serif;

$fw-regular:400;
$fw-bold:700;

$color-black:rgb(19, 19, 19);
$color-white:#EAEAEA;
$color-white-light:#D2D2D2;
$color-primary:#00D8F5;

$padding-inline-mobile:6vw;
$padding-inline-desktop:3vw;

$right-arrow: "\f14c";
$transition: all 0.4s ease;

$spacing-tiny: 0.25rem;
$spacing-small: 0.2rem;
$spacing: 1rem;
$spacing-large: 1.4rem;