.hero{
    .hero__container{
        display: flex;
        padding-inline: $padding-inline-mobile;
        flex-direction: column;
        margin-top: 2.5rem;
        margin-bottom: 3rem;
        width: 100%;
        
        .hero__title h1{
            margin-bottom: 2.3rem;
            line-height: 1.1;
            font-size: clamp(3rem,4.2vw,4.3rem);
            max-width: 100%;
            color: $color-white;
            span{
                font-family: $ff-primary;
            }
        }

        .hero__subtitle p{
            font-size: 1.2rem;
            color: $color-white;
            aspect-ratio: 4/1;
        }

        .hero__links{
            display: flex;
            gap: 3.3rem;
            justify-content: center;
            margin-top: 3rem;

            img{
                width: 34px;
                height: 34px;
                transition: 0.3s ease;
                &:hover{
                    transform: translateY(-6px);
                }
            }

            
        }
    }
}


@include respond-to(tablet){
    .hero{
        .hero__container{
            margin-top: 4rem;
            
            .hero__subtitle p{
                aspect-ratio: 5/1;
            }
            
        }
    }
}


@include respond-to(desktop){
.hero{
    .hero__container{
        margin-top: 3.5rem;

        .hero__title h1{
            width: 75%;
        }

        .hero__subtitle p{
            max-width: 75%;
            aspect-ratio: 7/1;

            margin-bottom: 1rem;
            font-size: 1.2rem;
        }
    }
}
}

@include respond-to(large-desktop){
    .hero{
        .hero__container{
        padding-inline: $padding-inline-desktop;
            align-items: center;
            margin-top: 5rem;
            flex-direction: row;
            width: 100%;
            .hero__title h1{
                margin-bottom: 0;
                margin-right: 15rem;
                width: 100%;
            }

            .hero__subtitle p{
                font-size: 1.1rem;
                margin-top: 2rem;
                margin-left: 4rem;
            }

            .hero__links{
                flex-direction: column;
                gap: 2.5rem;
                margin-top: 0;
                img{
                    display: block;
                    max-width: 55px;
                    max-height: 55px;
                }
            }
        }
    }
}