.submit-btn{
    margin-top: 1.3rem;
    width: 160px;
    display: inline-block;
    background-color: $color-primary;
    padding: .9rem;
    border-radius: 7px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    font-weight: $fw-bold;
    transition: .2s ease;

    &:hover{
        opacity: 0.7;
    }
}

@include respond-to(tablet){
    .submit-btn{
        margin-left: 1rem;
    }
}



.chronicle-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  line-height: 1;
  border-radius: 0.4rem;
  width: 90px;
  height: 27px;
  padding: 0; // Asegúrate de que ambos botones tengan el mismo padding
  cursor: pointer;
  border: none;
  background: $color-primary;
  transition: background 0.3s linear;
  will-change: background;

  &:hover {
    background: $color-primary;

    span:nth-of-type(1) em {
      opacity: 0;
      transform: rotateX(90deg) scaleX(0.9) translate3d(0, -10px, 0);
    }

    span:nth-of-type(2) em {
      opacity: 1;
      transform: rotateX(0deg) scaleX(1) translateZ(0);
      transition: transform 0.55s cubic-bezier(0.645, 0.045, 0.355, 1),
                  opacity 0.35s linear 0.2s;
    }
  }

  span {
    position: relative;
    display: block;
    perspective: 108px;

    &:nth-of-type(2) {
      position: absolute;
    }

    em {
      font-style: normal;
      display: inline-block;
      font-size: 0.8rem; // Asegúrate de que el tamaño de fuente sea el mismo en ambos botones
      font-weight: $fw-bold;
      color: $color-black;
      will-change: transform, opacity, transition;
      transition: transform 0.45s cubic-bezier(0.645, 0.045, 0.355, 1),
                  opacity 0.35s linear 0.2s;
    }

    &:nth-of-type(1) em {
      transform-origin: top;
    }

    &:nth-of-type(2) em {
      opacity: 0;
      transform: rotateX(-90deg) scaleX(0.9) translate3d(0, 10px, 0);
      transform-origin: bottom;
    }
  }
}

.chronicle-button.secondary {
  background-color: $color-white;

  em {
    color: $color-black; // Cambia solo el color del texto, no el tamaño ni el estilo
  }
}
