body {
    font-size: 1rem;
    color: $color-white-light;
    line-height: 1.4;
    background-color: rgb(19, 19, 19);
    font-family: $ff-secondary;
  }

  ::selection {
    background-color: $color-primary; 
    color: $color-black; 
  }

strong{
  color: $color-white;
}

.container{
  max-width: 1400px;
}

.section__title{
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.2rem;
  color: $color-white;
}

  @include respond-to(desktop){
    .section-divider{
      width: 95%;
      margin-top: 1rem;
    }
  }

  @include respond-to(large-desktop){
    .section-divider{
      margin-top: 7rem;
    }
  }



.color-primary{
  color: $color-primary;
}

 


  p {
    font-size: 1rem;
  }
  
  h1 {
    font-weight: 700; 
  }
  
  h2 {
    font-size: 1.75rem;
    font-weight: 600;
  }

 